.custom{
    display: flex;
    flex-direction: column;
    float: left;
}

.searchHistory { 
    margin-right: 200px;
}
.cardZero{
margin-top: 10px;
width: 500px;
height: 250px;
margin-left: 600px;
}

.container {
    max-width: 720px;
    margin-left: 4px;
}

.cardRight{
    float: right;
    margin-right: -605px;
    margin-left: 450px;
    margin-top: 100px;
}

.dynamicP {
margin-right: 80px;
}